div(class='mdl-card mdl-shadow--4dp' id='card_' + device.uuid style={margin: '10px'})
    div.mdl-card__subtitle-text(style={padding: '10px'})
        h3  Temperature sensor
        div Device id: #{device.uuid}
        div Root path: #{device.rootPath}
        div Current value: #{device.values.temperature}

    div.mdl-card__supporting-text
        div(class='mdl-textfield mdl-js-textfield')
            input(class="mdl-textfield__input", type='text', name='name_' + device.uuid, value=device.uuid)
    div(class='mdl-card__actions mdl-card--border')
        button#save(data-id=device.uuid data-service='TemperatureSensor' style={background: '#4bb53f'} class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored')
            | <i class="material-icons"></i> save Temperatue Sensor
