div(class='mdl-card mdl-shadow--4dp card' data-card=index id='card_' + device.uuid style={width: '400px'})
    div.mdl-card__subtitle-text.device(style={padding: '10px'})
        h3 Устройство #{index+1} из #{length}
        div id: #{device.uuid}
        div Switcher path: #{device.switchFullPath}
        div Sensor path: #{device.sensorFullPath}
        div Значение: #{device.sensorValue}

    div.mdl-card__supporting-text
    div(class='mdl-card__actions mdl-card--border save_device_buttons')
        button#toggle(data-id=device.uuid class='mdl-button mdl-js-button mdl-button--raised')
            | ВКЛ/ВЫКЛ
        button#save(data-id=device.uuid data-service='Outlet' class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored')
            | РОЗЕТКА
        button#save(data-id=device.uuid data-service='Lightbulb' class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored')
            | СВЕТ
